<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! Is it coffee yet?
  </h1>
  <app-symbol-form></app-symbol-form>
  <!-- <pre>{{symbolsModel |json}}</pre> -->

  <aside>
    <ul>
      <li class='stock-list' *ngFor='let item of symbolsModel'>NAME: {{item.name}} SYMBOL: {{item.symbol}} <button (click)='selectButtonHandler(item)'>Select</button></li>
    </ul>
  </aside>


  <!-- <h4>{{oneStock.symbol}}</h4> -->
  <!-- <p>{{selectedSymbol.name}}</p> -->
</div>
<div>
  <ul>
    <li *ngFor='let item of portfolio'>{{item.symbol}}</li>
  </ul>
  <img [src]='picUrl'/>
  <app-agree></app-agree>
  <app-renderer (editEvent)='editEventHandler($event)' *ngFor='let item of portfolio' [symbol]='item.symbol' [qty]='item.qty' [price]='item.price'></app-renderer>
  <h4>Currently editing {{editing}}</h4>
</div>

