<aside>
    <pre>{{combined}}</pre>
    <input required placeholder="type a stock symbol" [(ngModel)]='symbol' #spy='ngModel' [ngModelOptions]='{updateOn:"blur"}'/><br/>
    <input type="number" [(ngModel)]='qty' min="0" max="100" step="10"/>
    <button [disabled]='spy.invalid'>Go</button>
    <span [hidden]='spy.valid || spy.pristine'>Symbol is required</span>
    <p>{{symbol}}:{{qty}}</p>
    <p>{{spy.className}}</p>
</aside>